<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Add Task </ion-title>
  </ion-toolbar>
</ion-header>

<form [formGroup]="taskForm" (ngSubmit)="onAddTask">
  <ion-list lines="none">
    <ion-item color="light" class="ion-margin-bottom">
      <ion-input
        label="Title"
        type="text"
        formControlName="title"
        ngDefaultControl
        required
      ></ion-input>
    </ion-item>

    <ion-text
      color="danger"
      *ngIf="titleFormControl?.touched && titleFormControl?.errors?.['required']"
    >
      <p class="errorMsg">* Title is required.</p>
    </ion-text>
    <ion-item color="light" class="ion-margin-bottom">
      <ion-textarea
        label="Description"
        type="text"
        formControlName="description"
        ngDefaultControl
        required
      ></ion-textarea>
    </ion-item>
    <ion-text
      color="danger"
      *ngIf="descriptionFormControl?.touched && descriptionFormControl?.errors?.['required']"
    >
      <p class="errorMsg">* Description is required.</p>
    </ion-text>

    <ion-item color="light" class="ion-margin-bottom">
      <ion-datetime
        label="TaskDate"
        formControlName="task_date"
        ngDefaultControl
        required
        min="2023-11-01T00:00:00"
        max="2024-12-31T23:59:59"
        presentation="date"
      ></ion-datetime>
    </ion-item>
    <ion-text
      color="danger"
      *ngIf="taskDateFormControl?.touched && taskDateFormControl?.errors?.['required']"
    >
      <p class="errorMsg">* Task Date is required.</p>
    </ion-text>
    <ion-item color="light" class="ion-margin-bottom">
      <ion-label color="medium" position="floating"> </ion-label>
      <ion-select
        label="Priority Level"
        formControlName="priority_level"
        ngDefaultControl
        required
      >
        <ion-select-option *ngFor="let pl of priority_level" [value]="pl"
          >{{pl}}</ion-select-option
        >
      </ion-select>
    </ion-item>
    <ion-text
      color="danger"
      *ngIf="priorityLevelFormControl?.touched && priorityLevelFormControl?.errors?.['required']"
    >
      <p class="errorMsg">* Priority Level is required.</p>
    </ion-text>
    <ion-item color="light" class="ion-margin-bottom">
      <ion-label color="medium" position="floating"> </ion-label>
      <ion-select
        label="Progress Level"
        formControlName="progress_level"
        ngDefaultControl
        required
      >
        <ion-select-option
          [value]="pl"
          *ngFor="let pl of progress_level$ | async"
          >{{pl}}</ion-select-option
        >
      </ion-select>
    </ion-item>
    <ion-text
      color="danger"
      *ngIf="progressLevelFormControl?.touched && progressLevelFormControl?.errors?.['required']"
    >
      <p class="errorMsg">* Progress Level is required.</p>
    </ion-text>
    <ion-item color="light" class="ion-margin-bottom">
      <ion-label color="medium" position="floating"> </ion-label>
      <ion-select
        label="Category"
        formControlName="categoryId"
        required
        ngDefaultControl
      >
        <ion-select-option
          [value]="category.id"
          *ngFor="let category of categories$ | async"
          >{{category.title}}</ion-select-option
        >
      </ion-select>
    </ion-item>
    <ion-text
      color="danger"
      *ngIf="categoryIdFormControl?.touched && categoryIdFormControl?.errors?.['required']"
    >
      <p class="errorMsg">* Category is required.</p>
    </ion-text>
    <ion-button color="primary" type="submit">
      <ion-text color="white"> Add Task </ion-text>
    </ion-button>
  </ion-list>
</form>

<!-- <form [formGroup]="taskForm" (ngSubmit)="onAddTask()">
      <div class="my-2">
        <label for="">Title </label>
        <input type="text" class="form-control" formControlName="title" />
      </div>
      <div class="my-2">
        <label for="">Description </label>
        <textarea class="form-control" formControlName="description"></textarea>
      </div>
      <div class="my-2">
        <label for="">Task Date </label>
        <input type="date" class="form-control" formControlName="task_date" />
      </div>
      <div class="my-2">
        <label for="">Priority Level </label>
        <select class="form-select" formControlName="priority_level">
          <option value="">Select Priority Level</option>
          <option [value]="pl" *ngFor="let pl of priority_level$ | async">
            {{ pl }}
          </option>
        </select>
      </div>
      <div class="my-2">
        <label for="">Progress Level </label>
        <select class="form-select" formControlName="progress_level">
          <option value="">Select Country</option>
          <option [value]="prog" *ngFor="let prog of progress_level$ | async">
            {{ prog }}
          </option>
        </select>
      </div>
      <div class="my-2">
        <label for="">Category </label>
        <select class="form-select" formControlName="categoryId">
          <option value="">Select Category</option>
          <option
            [value]="category.id"
            *ngFor="let category of categories$ | async"
          >
            {{ category.title }}
          </option>
        </select>
      </div>
      <div class="my-2">
        <button type="submit" class="btn btn-primary">Add Task</button>
      </div>
    </form> -->
